<div style="padding: 0;">
	<header class="custom-header">Gestión de Casos</header>
	<form class="form-inline p15">
        <div class="form-group form-group-sm">
			<select ng-disabled="vm.params.loading" class="form-control" ng-model="vm.params.anio"    ng-options="y for y in vm.years" ng-change="vm.methods.filterSearch()">
			</select>
        </div>
		<div class="form-group form-group-sm">
			<select ng-disabled="vm.params.loading" class="form-control" ng-model="vm.params.mes"     ng-options="(key*1) as value for (key,value) in vm.months" ng-change="vm.methods.filterSearch()">
			</select>
		</div>
		<div class="form-group form-group-sm">
            <select ng-disabled="vm.params.loading" class="form-control" ng-model="vm.params.estado"  ng-change="vm.methods.filterSearch()">
            	<option value="-">Estado</option>
            	<option value="A">Activo</option>
            	<option value="C">Concluido</option>
            	<option value="E">Eliminado</option>
            </select>
		</div>
		<div class="form-group form-group-sm">
            <select ng-disabled="vm.params.loading" class="form-control" ng-model="vm.params.filtrotipo"  ng-change="vm.methods.filterSearch()">
            	<option value="caso">Caso</option>
            	<option value="demandado">Demandado</option>
            	<option value="demandante">Demandante</option>
            </select>
		</div>
		<div class="form-group form-group-sm">
            <input ng-disabled="vm.params.loading" type="text" class="form-control" ng-model="vm.params.filtro"  ng-change="vm.methods.filterSearch()" ng-model-options='{ debounce: 1000 }' >
		</div>
		<div class="form-group form-group-sm">
			<button ng-disabled="vm.params.loading" ng-click="vm.methods.openModal()" type="button" class="btn btn-success hint--top" aria-label="nuevo">
				<i class="fa fa-plus "></i>
				<span class="ladda-label">Nuevo</span>
			</button>
		</div>
	</form>
	<div class="p15">
		<div class="panel">
			<div class="panel-body pn">
				<div class="table-responsive">
					<div class="bs-component">
					    <table class="table">
					        <thead>
					            <tr>
									<th style="width: 30%">Caso</th>
									<th style="width: 20%">Demandante</th>
									<th style="width: 20%">Demandado</th>
									<th style="width: 15%">Fecha</th>
									<th style="width: 15%"></th>
					            </tr>
					        </thead>
					        <tbody>
								<tr >
					            	<td colspan="4" class="text-center" ng-if="vm.params.loading"><i class="fa fa-circle-o-notch fa-spin fa-lg"></i> Cargando ...</td>
					            	<td colspan="4" class="text-center" ng-if="!vm.params.loading && vm.data.rows.length <= 0"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Datos no encontrados</td>
					            </tr>
							    <tr ng-if="vm.data.rows.length > 0" ng-repeat="row in vm.data.rows"  >
								    <td>{{ row.caso }}</td>
								    <td>{{ row.demandante }}</td>
								    <td>{{ row.demandado }}</td>
								    <td style="text-align: center;">{{ row.created_at }}</td>
								    <td class="text-right">
								    	<button ng-disabled="vm.params.loading" ng-click="vm.methods.putestado( $index, row.id, 'C')" type="button" class="btn btn-primary btn-sm" aria-label="Finalizar / Cerrar" ng-if="row.estado=='A'" tooltip-placement="left" uib-tooltip="Concluir">
											<i class="fa fa-check"></i>
										</button>
								    	<button ng-disabled="vm.params.loading" ng-click="vm.methods.putestado( $index, row.id, 'E')" type="button" class="btn btn-danger btn-sm" aria-label="Eliminar" ng-if="row.estado=='A'"  tooltip-placement="left" uib-tooltip="Eliminar">
											<i class="fa fa-trash"></i>
										</button>
										<span class="label label-primary" ng-if="row.estado=='C'" >Concluido</span>
										<span class="label label-danger"  ng-if="row.estado=='E'" >Eliminado</span>
								    </td>
							    </tr>
					        </tbody>
					    </table>
					</div>
				</div>
				<div class="p15 table-pagination clearfix" ng-if="!vm.params.loading">
					<div class="pull-left pagination">
						<li class="disabled text-center"><span style="background-color: #f8f8f8; color: #000000" aria-hidden="true">{{ 1 + ((vm.params.pagina-1)*vm.params.limite) }}</span></li>
						<li class="disabled text-center"><span style="width: 50px;" aria-hidden="true">hasta</span></li>
						<li class="disabled text-center"><span style="background-color: #f8f8f8; color: #000000" aria-hidden="true">{{ vm.data.rows.length + ((vm.params.pagina-1)*vm.params.limite) }}</span></li>
						<li class="disabled text-center"><span style="width: 50px;" aria-hidden="true">de</span></li>
						<li class="disabled text-center"><span style="background-color: #f8f8f8; color: #000000" aria-hidden="true">{{ vm.data.total }}</span></li>
						<li class="disabled text-center"><span style="width: 150px;" aria-hidden="true">registros</span></li>
					</div>
					<ul uib-pagination boundary-links="true" total-items="vm.data.total" ng-model="vm.params.pagina" max-size="5" class="pagination-sm pull-right" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="vm.methods.search()" boundary-link-numbers="true" rotate="false" items-per-page="vm.params.limite"></ul>
				</div>
			</div>
		</div>
	</div>
</div>