<div style="padding: 0;">
	<header class="custom-header">Mi Bandeja de Mensaje</header>
    <form class="form-inline p15">
		<div class="form-group form-group-sm">
            <select class="form-control" ng-model="vm.params.tipomensaje" ng-options="tipomensaje.name for tipomensaje in vm.tipomensajes track by tipomensaje.value" ng-change="vm.methods.filterSearch()">
            </select>
		</div>
        <div class="form-group form-group-sm">
			<select class="form-control" ng-model="vm.params.anio"    ng-options="y for y in vm.years" ng-change="vm.methods.filterSearch()">
			</select>
        </div>
		<div class="form-group form-group-sm">
			<select class="form-control" ng-model="vm.params.mes"     ng-options="(key*1) as value for (key,value) in vm.months" ng-change="vm.methods.filterSearch()">
			</select>
		</div>
		<div class="form-group form-group-sm">
            <select class="form-control" ng-model="vm.params.asunto" ng-options="asunto.name for asunto in vm.asuntos track by asunto.value" ng-change="vm.methods.filterSearch()">
            </select>
		</div>
		<div class="form-group form-group-sm">
			<button ng-click="vm.methods.showOpenNew()" type="button" class="btn btn-success hint--top" aria-label="nuevo">
				<i class="fa fa-plus "></i>
				<span class="ladda-label">Nuevo</span>
			</button>
		</div>
    </form>
	<div class="p15">
		<div class="panel">
			<div class="panel-body pn">
				<div class="table-responsive">
					<div class="bs-component">
					    <table class="table">
					        <thead>
					            <tr>
									<th></th>
									<th ng-if="vm.params.tipomensaje.value=='received'" >De</th>
									<th ng-if="vm.params.tipomensaje.value=='send'" >A</th>
									<th>Asunto</th>
									<th>Creado</th>
					            </tr>
					        </thead>
					        <tbody>
								<tr >
					            	<td colspan="5" class="text-center" ng-if="vm.params.loading"><i class="fa fa-circle-o-notch fa-spin fa-lg"></i> Cargando ...</td>
					            	<td colspan="5" class="text-center" ng-if="!vm.params.loading && vm.data.rows.length <= 0"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Datos no encontrados</td>
					            </tr>
							    <tr ng-if="!vm.params.loading && vm.data.rows.length > 0" ng-repeat="row in vm.data.rows" style="text-align: center;" ng-click="vm.methods.showDetail( row, $index )">
							    	<td>
								    	<i ng-if="row.leido=='1'" class="fa fa-envelope-open-o" aria-hidden="true"></i>
								    	<i ng-if="row.leido=='0'" class="fa fa-envelope-o" aria-hidden="true"></i>
							    	</td>
								    <td>{{ vm.empleadoarray[row.empleado_id] }}</td>
								    <td>{{ vm.asuntoarray[row.asunto] }}</td>
								    <td>{{ row.created_at }}</td>
							    </tr>
					        </tbody>
					    </table>
					</div>
				</div>
				<div class="p15 table-pagination clearfix" ng-if="!vm.params.loading">
					<div class="mn pull-left pagination">
						<li class="disabled text-center"><span style="background-color: #f8f8f8; color: #000000" aria-hidden="true">{{ 1 + ((vm.params.pagina-1)*vm.params.limite) }}</span></li>
						<li class="disabled text-center"><span aria-hidden="true">hasta</span></li>
						<li class="disabled text-center"><span style="background-color: #f8f8f8; color: #000000" aria-hidden="true">{{ vm.data.rows.length + ((vm.params.pagina-1)*vm.params.limite) }}</span></li>
						<li class="disabled text-center"><span aria-hidden="true">de</span></li>
						<li class="disabled text-center"><span style="background-color: #f8f8f8; color: #000000" aria-hidden="true">{{ vm.data.total }}</span></li>
						<li class="disabled text-center"><span aria-hidden="true">registros</span></li>
					</div>
					<ul uib-pagination boundary-links="true" total-items="vm.data.total" ng-model="vm.params.pagina" max-size="5" class="mn pagination-sm pull-right" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="vm.methods.search()" boundary-link-numbers="true" rotate="false" items-per-page="vm.params.limite"></ul>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>	
	</div>
</div>