<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="ctrl.close()">
		<span aria-hidden="true">×</span>
	</button>
	<h4 class="modal-title" id="modalBank">Cuentas Bancarias</h4>
</div>
<div class="modal-body">
    <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <td><b>Banco</b></td>
                    <td>Banco de Crédito - BCP</td>
                </tr>
                <tr>
                    <td><b>Titular</b></td>
                    <td>Centros Virtuales del Perú</td>
                </tr>
                <tr>
                    <td><b>Nro. Cuenta (Soles)</b></td>
                    <td>194-2009470-0-76</td>
                </tr>
                <tr>
                    <td><b>Código Interbancario</b></td>
                    <td>00219400200947007690</td>
                </tr>
                <tr>
                    <td><b>Código Agente</b></td>
                    <td>06335</td>
                </tr>
            </tbody>
        </table>
        <br><p><i class="fa fa-info-circle"></i> NO OLVIDE QUE CUANDO HAGA EL PAGO DEL SERVICIO SU CODIGO DE CLIENTE ES SU RUC O DNI.</p>
    </div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" ng-click="ctrl.close()"><i class="fa fa-times"></i> Cerrar</button>
</div>