<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="ctrl.close()">
		<span aria-hidden="true">×</span>
	</button>
	<h4 class="modal-title" id="modalBank">Cont&aacute;ctenos</h4>
</div>
<div class="modal-body row">
    <div class="col-md-6">
        <div class="well p10 mb10" style="border: none;box-shadow: none;">
          <address>
            <strong>Postventa</strong>
            <br><i class="fa fa-user"></i> Rosa Sernaque
            <br><b>@</b> <a href="mailto:postventa@centrosvirtuales.com">postventa@centrosvirtuales.com</a>
            <br><i class="fa fa-phone"></i> (01) 707-3500 <strong>Opcion(es)</strong> 301 - 302
            <br><i class="fa fa-whatsapp"></i> 975453176 - 966019104
          </address>
        </div>
    </div>
    <div class="col-md-6">
        <div class="well p10 mb10" style="border: none;box-shadow: none;">
          <address>
            <strong>Atención al Cliente - Surco</strong>
            <br><i class="fa fa-user"></i> Vanesa Chavez
            <br><b>@</b> <a href="mailto:atencionalcliente@centrosvirtuales.com">pagos@centrosvirtuales.com</a>
            <br><i class="fa fa-phone"></i> (01) 707-3500  <strong>Opcion(es)</strong> 305 - 306 - 309
            <br><i class="fa fa-whatsapp"></i> 975453170
          </address>
        </div>
    </div>
    <div class="col-md-6">
        <div class="well p10 mb10" style="border: none;box-shadow: none;">
          <address>
            <strong>Atención al Cliente - Miraflores</strong>
            <br><i class="fa fa-user"></i> Mari Luz Rondinel
            <br><b>@</b> <a href="mailto:marirondinel@centrosvirtuales.com">marirondinel@centrosvirtuales.com</a>
            <br><i class="fa fa-phone"></i> (01) 707-3500     Anexo(s): 307-308
            <br>Anexo(s): 301 - 302
            <br><i class="fa fa-whatsapp"></i> 993812902 - 966019104
          </address>
        </div>
    </div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" ng-click="ctrl.close()"><i class="fa fa-times"></i> Cerrar</button>
</div>