<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="ctrl.close()">
		<span aria-hidden="true">×</span>
	</button>
	<h4 class="modal-title" id="modalBank">Horarios de Atención</h4>
</div>
<div class="modal-body">
    <div class="panel panel-info">
        <div class="panel-heading">Oficinas</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4"><strong>Surco</strong></div>
                <div class="col-sm-8">
                    <small>
                        Lun a Vie 8:30am - 10pm y S&aacute;b 8:30am - 7pm
                    </small>
                </div>
            </div><br>
            <div class="row">
                <div class="col-sm-4"><strong>Dos de Mayo 516 of. 201</strong><br><small>Miraflores</small></div>
                <div class="col-sm-8">
                    <small>
                        Lun a Vie 8:30am - 10pm y S&aacute;b 8:30am - 7pm
                    </small>
                </div>
            </div><br>
            <div class="row">
                <div class="col-sm-4"><strong>Elias Aguirre 180</strong><br><small>Miraflores</small></div>
                <div class="col-sm-8">
                    <small>
                        Lun a Vie 8:30am - 10pm / S&aacute;b 8:30am - 7pm / Dom 10am - 6pm
                    </small>
                </div>
            </div>
        </div>
    </div><br>
    <div class="panel panel-info">
        <div class="panel-heading">Eventos</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6"><strong>Auditorio</strong><br><small>Elias Aguirre 180 - Miraflores</small></div>
                <div class="col-sm-6">
                    <small>
                        Lun a Dom 8am - 10pm
                    </small>
                </div>
            </div><br>
            <div class="row">
                <div class="col-sm-6"><strong>Sala de capacitaci&oacute;n</strong><br><small>Jose Pardo 620 Mezzanine N 12 - Miraflores</small></div>
                <div class="col-sm-6">
                    <small>
                        Lun a Dom 8am - 10pm
                    </small>
                </div>
            </div><br>
            <div class="row">
                <div class="col-sm-6"><strong>Sala de reuniones</strong><br><small>Jose Pardo 620 Mezzanine N 12 - Miraflores</small></div>
                <div class="col-sm-6">
                    <small>
                        Lun a Dom  8:30am - 7pm
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" ng-click="ctrl.close()"><i class="fa fa-times"></i> Cerrar</button>
</div>